<h1>Create NEW Question</h1>
<form action="/tests/1/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <h3>
    <label for="question-body">Body:</label>
    <input type="text" name="question[body]" id="question-body">
  </h3><br>

  <input name="question[test_id]" value="<%= params[:test_id] %>" id="question-test_id" type="hidden">

  <input type="submit" value="Create QUESTION">
</form>
