<h1>THIS IS YOUR QUESTION!</h1>
  <%= @question = Question.where(id: params[:id], test_id: params[:test_id]).inspect %>
<h2>DO YOU WANT TO DELETE A QUESTION?</h2>
<form accept-charset="UTF-8" action="/tests/1/questions/1" method="post">
  <input name="_method" type="hidden" value="delete" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input name="commit" type="submit" value="Delete" />
</form>
