<h3>YOUR QUESTION!</h3>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Test_ID:</strong>
  <%= @question.test.title%>
</p>

<p>
<%= link_to '| BACK ALL QUESTIONS |', test_questions_path %>
<%= link_to '| EDIT QUESTION |', edit_test_question_path(@question, @question.test) %>
</p>
