<h3>You Passed Test</h3>

<p>
  <strong>Result Correct Answer:</strong>
  <%= @test_passage.correct_questions %>
</p>

<p>
  <strong>Precent Passage Test:</strong>

  <div class="more">
    <h4><%= more if percent_passage(@test_passage) >= 85 %></h4>
  </div>

  <div class="less">
    <h4><%= less if percent_passage(@test_passage) < 85 %></h4>
  </div>
</p>

<%= link_to 'Back All Tests', tests_path %>
