.nav.user {
  border: 3px solid rgb(6, 134, 70);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.nav.out {
  border: 3px solid rgb(128, 15, 33);
  padding: 10px;
  border-radius: 5px;
  text-align: right;
}
