<footer class="foter">
  <small>
    <h3>Additional Informations:</h3>
  </small>
  <nav>
    <p>Current Time: <%= current_time %>.</p>
    <%= github_url("Vladislav", "https://github.com/gringbeeri/test_guru") %>
    <p>It is first project Vladislav's. I will create web-application: /TEST/.</p>
    <%= link_to "Link Thinketica.", "https://thinknetica.com", target: :_blank %>
  </nav>
</footer>
