<h4>- - - - - Additional Informations - - - - -</h4>
  <ul>
    <li><p>Current Time: <%= current_time %>.</p></li>
    <li><%= github_url("Vladislav" link_to 'Link_Github', "https://github.com/gringbeeri/test_guru") %></li>
      <p>It is first project Vladislav's. I will create web-application: /TEST/.</p>
    <li><%= link_to "Link Thinketica.", "https://thinknetica.com" %></li>
  </ul>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
