<footer class="foter">
  <small>
    <h3>Additional Informations:</h3>
  </small>
  <nav>
    <ul>
      <li><p>Current Time: <%= current_time %>.</p></li>
      <li><%= github_url("Vladislav", "https://github.com/gringbeeri/test_guru") %></li>
        <p>It is first project Vladislav's. I will create web-application: /TEST/.</p>
      <li><%= link_to "Link Thinketica.", "https://thinknetica.com", target: :_blank %></li>
    </ul>
  </nav>
</footer>
